<div>{{ x + 2 }}</div>

@if (x === 10) {
<div>x è 10</div>
} @else if (x === 20) {
<div>x è 20</div>
} @else {
<div>x è uguale a {{ x }}</div>
}
<!--  -->
@switch (x) {
<!--  -->
@case (10) {
<div>x è 10</div>
}
<!--  -->
@case (20) {
<div>x è 20</div>
}
<!--  -->
@default {
<div>x è uguale a {{ x }}</div>
} }

<!-- se una variabile la dichiaro nello scope globale dell'html la posso utilizzare ovunque -->
@let variabileGlobale = 'sono la variabile globale';
<section>
  <h1>Students</h1>
  <!--  -->
  @for (student of students(); track student.id; let i = $index) {
  <!-- posso creare una variabile con @let nel content del tag ed utilizzarla nel content del tag stesso -->
  <!-- a queste variabili dichiarate con @let non si può riassegnare il valore e sono block scope, se la dichiaro nel @for la posso utilizzare solo nel @for stesso  -->
  @let nomeCompleto = `${student.surname} ${student.name}`;
  <div>{{ variabileGlobale }}</div>
  <div>Id studente: {{ student.id }}</div>
  <div>{{ student.name }} {{ student.surname }}</div>
  <div>{{ nomeCompleto }}</div>
  <div>{{ $count }}</div>
  <div>{{ $index }} posizione elemento nell'array, parte da zero</div>
  <div>{{ i }} posizione elemento nell'array, parte da zero</div>
  <div>{{ $index + 1 }} posizione elemento pari o dispari</div>
  <div>{{ $odd }} pari</div>
  <div>{{ $even }} dispari</div>
  <div>{{ $first }} primo elemento</div>
  <div>{{ $last }} ultimo elemento</div>
  <br />
  <br />
  }
  <div><button (click)="updateStudent(6)">Aggiorna studente con id 6</button></div>
  <div>
    <button (click)="orderStudentsByRandomNumber()">Ordinamento random degli students</button>
  </div>
</section>

<section>
  <!-- con l'attributo title creo una tool tip all'elemento, mostro qualcosa quando ci passo col cursore del mouse -->
  <h1 title="'ciao'">Signals</h1>
  <!-- posso renderlo dinamico tramite le quadre -->
  <div [title]="`counter ${counter()}`">Counter: {{ counter() }}</div>
  <div>
    <button (click)="increaseCounter()">Increase counter +1</button>
  </div>
  <div>
    <button (click)="decreaseCounter()">Decrease counter -1</button>
  </div>
  <div>
    <button (click)="resetCounter(0)">Reset counter</button>
  </div>
  <!-- faccio comparire una cosa se il valore di counter è maggiore di 3 -->
  @if (counter() > 3) {
  <div>Il valore di counter è > di 3</div>
  }
</section>

<section>
  <h1>Studenti in students2</h1>
  <!-- ciclo per students 2 con empty value -->
  @for (student of students2(); track $index) {
  <div>{{ student.name }} {{ student.surname }}</div>
  }
  <!-- se students2 è vuoto -->
  @empty {
  <div>Non ci sono studenti qui</div>
  }
  <!--  -->
  <div>
    <button (click)="addStudentInStudents2()">Add student in students2</button>
  </div>
  <!--  -->
  @if (this.students2().length > 0) {
  <div>
    <button (click)="resetStudents2()">Reset students2</button>
  </div>
  }
</section>

<section>
  <h1>TWO WAY BINDING</h1>
  <div>
    <input type="text" [(ngModel)]="text" />
    Text: {{ text() }}
  </div>
  <!-- la stessa cosa senza ngModel ma con la direttiva [] che unisce un attributo di un elemento ad una property-->
  <!-- e con l'ascolto dell'evento input che chiama una funzione che setta il valore di un signal -->
  <!-- alla funzione richiamata con un event posso passare il parametro $event che avrà con se tutti i dati dell'elemento target -->
  <div>
    <input type="text" [value]="text2()" (input)="setText2($event)" />
    Text2: {{ text2() }}
  </div>
</section>

<section>
  <h1>Computed signals</h1>
  <div>valore computato: {{ computedCounter() }}</div>
</section>
