<section>
  <h1>{{ title() }}</h1>
  <div>Counter: {{ counter() }}</div>
  <div>Numero dal padre: {{ numeroDalPadre() }}</div>
  <div>Input obbligatorio: {{ inputObbligatorio() }}</div>

  <div>
    <button (click)="increaseCounter()">Increase counter</button>
  </div>
  <div>Num nel component: {{ num() }}</div>
  <div>
    <button (click)="increaseNumber()">Increase number dal padre</button>
  </div>
  <div>
    <button (click)="sendMessage()">Send message to father</button>
  </div>
</section>
